.hero {
  @include centredFlex($fd: column);
  // padding-top: 200px;
  // padding-bottom: 200px;
  height: 600px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: 0.06em;
  //    transition: background 5s $timing-function;
}
.hero .container{
  @include centredFlex($fd:column);
}
.hero__title {
  @include font($fw: 900, $fs: 44px, $lh: 1.36em);
  margin-bottom: 30px;
  color: $primary-write-color;
  text-transform: uppercase;
}

.hero-button {

  @extend %button;
  // @include centredFlex();
  min-width: 216px;
  min-height: 50px;
}




